// ABSTRACTS (no generan CSS directamente)
@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/functions';

// BASE
@use 'base/reset';
@use 'base/typography';
@use 'base/base';

// COMPONENTS
@use 'components/buttons';
@use 'components/cards';
@use 'components/modals';

// LAYOUT
@use 'layout/header';
@use 'layout/footer';
@use 'layout/grid';

// PAGES
@use 'pages/login';
@use 'pages/recovery';
@use 'pages/home';

// THEMES
@use 'themes/light';
// @use "themes/dark";

// VENDORS
@use 'vendors/bootstrap';
